@CHARSET "UTF-8";

body {
	margin: 0px;
}

.page {
    
}

.oddPage {
	background-color: #DAD5D5;
}

.evenPage {
	background-color: #EAE5E5;
}

.header {
	background-color: #E83556;
	min-height: 50px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.pageSwitch {
    display: inline-block;
    margin: 0 auto;
    width: 15%;
}

.pageBody {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.photo {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(https://raw.githubusercontent.com/kuldeepiitg/kuldeepiitg.github.io/master/photos/profilepicDownscaled.jpg) no-repeat;
}

.intro{
	
}

.topBarTabsGroup {
    margin: 0 auto;
    width: 70%;
    font-family: noticiaBold;
}

.name {
	display: inline-block;
    margin: 0 auto;
    width: 40%;
    
}

@font-face {
    font-family: noticiaBold;
    src: url(fonts/noticia-text/NoticiaText-Bold.ttf);
}

.name h1{
	margin: inherit;
}
.name h6 {
	margin: inherit;
	font-size: 1.2em;
}




