@CHARSET "UTF-8";

body {
	margin: 0px;
}

.page {
    
}

.oddPage {
	background-color: #DAD5D5;
}

.evenPage {
	background-color: #EAE5E5;
}

.header {
	background-color: #E83556;
	min-height: 50px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
}
